body{
  font-family: helvetica;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.navbar a {
    text-decoration: none !important;
}
.navbar img {
    height: 60px;
    width: 150px;
    margin: -1% 0;
}







.content h1{
  text-align: center;
}

.postTitle{
  display: block;
  margin-bottom: 20px;
  margin-left: 122px;
}

input[type="text"] {
  display: block;
  font-size: 20px;
}

.postField {
  font-size: 20px;
  margin-left: 122px;
}


ul li h3{
  font-size: 20px;
}

ul li p {
  font-size: 15px;
}

.newestPosts{
  margin-left: 122px;
}

footer {
  text-align: center;
  margin-top: 120px;
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid black
}

ul{
  margin-left: 122px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 900px;
}

.title{
color: white;
background: black;
border: 3px solid black;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
outline: 1px solid white;
outline-offset: -5px;
}


body{
  padding-top: 90px;
}

.allPosts{
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  border-radius: 10px;
}

.post{
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posttTitle{

}

.postText{

}

.commentField{

}

.submitComment{

}

.listOfComments{
margin: 60px;
list-style-type: none;

}

.comment{
  background-color: lightgrey;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 200px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content h2{
  margin-left: 122px;
}
.commentText{

}

.deleteComment{

}
