.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar a {
    text-decoration: none !important;
}
.navbar img {
    background-color: red;
    height: 60px;
    width: 150px;
    margin: -1% 0;
}


.content h1{
  text-align: center;
}

.postTitle{
  display: block;
  margin-bottom: 20px;
}

input[type="text"] {
  display: block;
  font-size: 20px;
}

.postField {
  font-size: 20px;
}


ul li h3{
  font-size: 20px;
}

ul li p {
  font-size: 15px;
}

ul{

  border: 1px solid #EEE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 900px;
}

body{
  padding-top: 90px;
}

.allPosts{
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  border-radius: 10px;
}

.post{
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 10px;
}

.posttTitle{

}

.postText{

}

.commentField{

}

.submitComment{

}

.listOfComments{
margin: 60px;
list-style-type: none;

}

.comment{
  background-color: lightgrey;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 200px;
  display: block;
}

.commentText{

}

.deleteComment{

}
