body{
  font-family: helvetica;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.navbar a {
    text-decoration: none !important;
}

.navbar img {
    height: 60px;
    width: 150px;
    margin: -1% 0;
}

footer {
  text-align: center;
  margin-top: 120px;
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid black
}

.inputContainer img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.inputContainer{
  display: inline-block;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: lightblue;
  margin-right: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.inputContainer input {
  display: block;
  width: 195px;
}

input {
  font-size: 20px;
}
label {
  font-size: 20px;
}

h1{
  text-align: center;
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  outline: 1px solid white;
  outline-offset: -5px;
  border: 3px solid black;
}

.userPosts{
  border-radius: 10px;
  width: 800px;
  border: 1px dotted black;
  height: 1000px;
}

.mainContainer{
  display: inline-flex;

}

ul li {
  list-style-type: none;
  background-color: lightblue;
}

ul li h3{
  font-size: 20px;
}

ul li p {
  font-size: 15px;
}

ul{
  border: 1px solid #EEE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
body{
  padding-top: 90px;
}
