.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar a {
    text-decoration: none !important;
}
.navbar img {
    background-color: red;
    height: 60px;
    width: 150px;
    margin: -1% 0;
}

.inputContainer img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.inputContainer{
  display: inline-block;
  width: 200px;
  padding: 10px;
  border-radius: 25px;
  background-color: lightblue;
  margin-right: 150px;

}

.inputContainer input {
  display: block;
  width: 195px;
}

input {
  font-size: 20px;
}
label {
  font-size: 20px;
}

h1{
  text-align: center;
}

.userPosts{
  border-radius: 10px;
  width: 800px;
  border: 1px dotted black;
  height: 1000px;
}

.mainContainer{
  display: inline-flex;

}

ul li {
  list-style-type: none;
  background-color: lightblue;
}

ul li h3{
  font-size: 20px;
}

ul li p {
  font-size: 15px;
}

ul{
  border: 1px solid #EEE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
body{
  padding-top: 90px;
}
