h1{
  font-size: 40px;
}

label {
  font-size: 20px;
}

button {
  font-size: 20px;
}

input[type="text"] {
  font-size: 20px;
}

input[type="password"] {
  font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 20px 0;
}
.navbar a {
    text-decoration: none !important;
}
.navbar img {
    background-color: red;
    width: 100px;
    height: 100px;
}

.container form{
  display: flex;
  flex-direction: column;
  width: 200px;
}
