h1{
  font-size: 40px;
}

label {
  font-size: 20px;
}

button {
  font-size: 20px;
}

input[type="text"] {
  font-size: 20px;
}

input[type="password"] {
  font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar a {
    text-decoration: none !important;
}
.navbar img {
    background-color: red;
    height: 60px;
    width: 150px;
    margin: -1% 0;
}
.container form{
  display: flex;
  flex-direction: column;
  width: 200px;
}

body {
  padding-top: 90px;
}
